In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data = pd.Series([1,2,3,4,5])

In [4]:
data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
data.values

array([1, 2, 3, 4, 5])

In [6]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
data[0]

1

In [8]:
data[1:3]

1    2
2    3
dtype: int64

In [10]:
data[4]

5

In [11]:
data = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [12]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [13]:
data['c']

3

In [ ]:
data = pd.Series(dict(a=1, b=2, c=3, d=4, e=5))

In [15]:
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [16]:
data['b':'d']

b    2
c    3
d    4
dtype: int64

In [17]:
series_1 = pd.Series(dict(a=1,b=2,c=3,d=4,e=5))

In [18]:
series_2 = pd.Series(dict(a=11,b=12,c=13,d=14,e=15))

In [19]:
df = pd.DataFrame({'column_1':series_1, 'colum2':series_2})

In [20]:
df

   column_1  colum2
a         1      11
b         2      12
c         3      13
d         4      14
e         5      15

In [21]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [22]:
df.columns

Index(['column_1', 'colum2'], dtype='object')

In [23]:
df['column_1']

a    1
b    2
c    3
d    4
e    5
Name: column_1, dtype: int64

In [24]:
df['a']

KeyError: 'a'

In [25]:
df['column_1']['a']

1

In [ ]:
df['column_1']['b']